apiVersion: v1
kind: ConfigMap
metadata:
  name: katalonstudio-configmap
  namespace: {{ kubernetes_namespace }}
data:
  entrypoint.sh: |-
    #!/bin/bash
    katalonc.sh -projectPath=/workspace -browserType="{{browser}}" -retry={{retry_number}} -statusDelay={{status_delay}} -testSuitePath="{{testsuite_path}}" -apikey="{{katalon_api_key}}"